# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
build/

# Xcode project files (compatibilidade antiga, pode manter)
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcscmblueprint
*.xccheckout

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection (Johnno's InjectionForXcode)
iOSInjectionProject/

# Secrets
Secrets.xcconfig
